* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #F4D04E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Figtree, sans-serif;
    color: #111;
    font-size: 14px;
}

.card {
    width: 384px;
    border: 1px solid #111;
    box-shadow: 8px 8px #000; ;
    background-color: white;
    border-radius: 20px;
    transition: box-shadow 100ms ease-out;
}

.card:focus,
.card:active,
.card:hover {
    box-shadow: 16px 16px #000;
}

.content {
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

img {
    border-radius: 20px;
    margin-bottom: 24px;
}

.tag {
    font-weight: 900;
    line-height: 150%;
    padding: 4px 12px 4px 12px; 
    background-color: #F4D04E;
    border-radius: 4px;
}

.published-date {
    margin-top: 12px;
    font-weight:normal;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 12px;
    transition: color 200ms;
}

h1:hover,
h1:active,
h1:focus {
    color:#F4D04E;
}

p {
    font-size: 16px;
    color: #7F7F7F;
    margin-top: 12px;
}

.author {
    margin-top: 24px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.author img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 0;
}

h2 {
    font-size: 14px;
    font-weight: 900;
    margin-left: 12px;
} 

.attribution {
    margin-top: 100px;

}

